# Data Cleaning

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import matplotlib
matplotlib.rcParams["figure.figsize"] = (10, 20)

In [3]:
df = pd.read_csv("./datasets/bengaluru_house_prices.csv")
df

,availability,location,size,society,total_sqft,bath,balcony,price
area_type,,,,,,,,
Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...
Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [5]:
df2 = df.drop(["area_type", "society", "balcony", "availability"], axis=1)
df2

KeyError: "['area_type' 'society' 'balcony' 'availability'] not found in axis"

In [89]:
df.shape

(35389, 37)

In [90]:
df = df.dropna()
df.isnull().sum()

id                    0
countyId              0
cityId                0
country               0
datePostedString      0
is_bankOwned          0
is_forAuction         0
event                 0
time                  0
price                 0
pricePerSquareFoot    0
city                  0
state                 0
yearBuilt             0
streetAddress         0
zipcode               0
longitude             0
latitude              0
hasBadGeocode         0
description           0
currency              0
livingArea            0
livingAreaValue       0
lotAreaUnits          0
bathrooms             0
bedrooms              0
buildingArea          0
parking               0
garageSpaces          0
hasGarage             0
levels                0
pool                  0
spa                   0
isNewConstruction     0
hasPetsAllowed        0
homeType              0
county                0
dtype: int64

In [91]:
correlation = df.corr(numeric_only=True)
correlation["price"]

countyId              0.030641
cityId               -0.020026
is_bankOwned         -0.003879
is_forAuction         0.018742
time                  0.037937
price                 1.000000
pricePerSquareFoot    0.010031
yearBuilt             0.043496
zipcode              -0.076664
longitude            -0.034461
latitude             -0.048650
hasBadGeocode        -0.003472
livingArea            0.014366
livingAreaValue       0.014366
bathrooms             0.352366
bedrooms              0.179544
buildingArea          0.022218
parking              -0.016399
garageSpaces          0.111682
hasGarage             0.041653
pool                  0.151681
spa                   0.106039
isNewConstruction     0.036877
hasPetsAllowed        0.011757
Name: price, dtype: float64

In [ ]:
sns.heatmap(correlation, annot=True)